<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="auth">

        <div class="register" id="register" >

            <form action="/hello" method="post" class="form_input_name">
                <h1>Hello everynyan</h1>
                <h4>Input your name</h4>
                <input type="text" name="name" placeholder="Input the name">
                <h4>Input your password</h4>
                <input type="password" name="password" placeholder="Input the password">
                <h4>Input your age</h4>
                <input type="number" name="age" placeholder="Input the age">
                <button action="/save" method="post" type="submit">Register</button>
            </form>

            <button onclick="showLogin()">I wanna Login</button>
        </div>
        <div class="hidden" id="login" >

            <form action="/login" method="post" class="form_input_name">
                <h1>Welcome back</h1>
                <h4>Input your name</h4>
                <input type="text" name="name" placeholder="Input the name">
                <h4>Input your password</h4>
                <input type="password" name="password" placeholder="Input the password">
                <button action="/login" method="post" type="submit">Login</button>
            </form>
            <button onclick="showRegister()">I wanna register</button>

        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>